<ion-header>
  <ion-toolbar>
    <ion-title>Forum</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">

      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="action-button">
    <ion-button><ion-icon slot="start" name="add"></ion-icon>Add New Discussion Topic</ion-button>
    <ion-button><ion-icon slot="start" name="globe-outline"></ion-icon>History</ion-button>
    <ion-searchbar showCancelButton="focus"></ion-searchbar>
  </div>

  <ion-card class="welcome-card">
    <ion-card-header>
      <!-- <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>
      <img src="assets/photo.jpg" alt="" width="50px" height="50px" style="margin-top: -20px;"/>
      <h2 style="margin-top: -60px; margin-left: 60px;color: black;">Dr. Banuka Perera</h2>
      <div style="background-color: #f5f5f0;margin-top: 40px;">
        <p style="margin-top: 0px; ">[SOLVED] ReferenceError: google is not defined - ionic v3.9.2, angular v5.2.11</p> 
      </div>  
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <!-- <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>
      <img src="assets/photo.jpg" alt="" width="50px" height="50px" style="margin-top: -20px;"/>
      <h2 style="margin-top: -60px; margin-left: 60px;color: black;">Dr. Banuka Perera</h2>
      <div style="background-color: #f5f5f0;margin-top: 40px;">
        <p style="margin-top: 0px; ">[SOLVED] ReferenceError: google is not defined - ionic v3.9.2, angular v5.2.11</p> 
      </div>  
    </ion-card-content>
  </ion-card>
</ion-content>
