// #container {
//   text-align: center;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }
ion-item{
  
  border-radius: 10px;
  height: 40px;
  margin-top: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.04);
  --highlight-height:0px;
  --border-color: black;
}

  ion-input{
    font-size: 12px;
    --padding-top: 0px;
    --padding-bottom:15px;
    --padding-start:5px;
    --border-color:black;
    margin: 5px 5px 5px 5px;
  }

  #form{
    margin-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    
  }
  ion-button{
    margin-top: 15px;
    height: 40px;
    font-size: 18px;
    text-transform: initial;
    border-radius: 60px;
    box-shadow: 3px 2px 1px 3px rgb(164, 164, 247,0.1);
  }
  .imgcontainer {
    text-align: center;
    margin: 15px 0 12px 0;
  }
  
  img.avatar {
    width: 70%;
    border-radius: 50%;
  }
  ion-label{
    font-size: 18px;
    color: black;
    font-weight: 100px;
    margin-top: 0px;
  }

// body {font-family: Arial, Helvetica, sans-serif;}
// // form {border: 3px solid #f1f1f1;}

// input[type=text], input[type=password] {
//   width: 100%;
//   padding: 12px 20px;
//   margin: 8px 0;
//   display: inline-block;
//   border: 1px solid #ccc;
//   box-sizing: border-box;
//   background-color: white;
//   font-size: 12px;
// }

// button {
//   background-color: #08105A;
//   color: white;
//   padding: 14px 20px;
//   margin: 8px 0;
//   border: none;
//   cursor: pointer;
//   width: 100%;
// }

// button:hover {
//   opacity: 0.8;
// }

// .cancelbtn {
//   width: auto;
//   padding: 10px 18px;
//   background-color: #f44336;
// }



// .container {
//   margin-top: 5px;
//   margin-left: 5px;
//   margin-right: 2px;
// }

span.psw {
  float: right;
  padding-top: 0px;
  font-size: 10px;
}
span.signup {
  float: left;
  padding-top: 10px;
  font-size: 12px;
  margin-left: 25%;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
     
  }
  .cancelbtn {
     width: 100%;
  }
}