<ion-header>
  <ion-toolbar>
    <ion-title>Workshop</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="action-button">
    <ion-button><ion-icon slot="start" name="add"></ion-icon>REQUEST</ion-button>
  </div>
  <h3 style="margin-left: 10px;">Recommend for you</h3>
  <ion-card class="welcome-card" >
    <ion-card-header>
      <!-- <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>
      <img src="assets/workshop.jpeg" alt="" width="300px" height="300px" style="margin-top: -15px;"/>
      <h2 style="color: black; font-weight: bold;">Past LIVE STREAM Workshops and Specialty Classes</h2> 
      <p style="margin-top: 0"> Join us this weekend on Zoom for two beautiful workshops with our dear friend and collaborator
        Rosangela Silvestre.
        Rosangela is a master teacher, dancer, researcher, and choreographer from Salvador Bahia. She will be leading us through some of the contemporary technique she has discovered and curated over her long and illustrious career, as well as symbology of Orixá. Donations are welcome but not required. Zoom link will be on BrasArte's Facebook event page soon.
        May 2nd & 3rd
        2-3:30pm PDT
        PayPal brasarteberkeley@gmail.com
        Venmo @brasarteberkeley
        </p> 
    </ion-card-content>
  </ion-card>

</ion-content>
